<div class="footer">
  <ul class="menu">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Help", help_path %></li>
  </ul>

  <div class="copyright">
    built by <a href="http://github.com/danielfm">danielfm</a> &copy; <%= Time.now.year %>
  </div>
</div>
