html, body {
  height: 100%;
}

.container {
  padding-bottom: 100px;
}

.content {
  overflow: auto;
}

.page-wrapper {
  min-height: 100%;
}

.footer {
  position: relative;
  overflow: hidden;
  margin-top: -45px;
  padding: 13px 25px;
  font-size: 13px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  color: #666;

  .menu {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;

    li {
      display: inline-block;
      margin-right: 30px;
    }
  }

  .copyright {
    float: right;
  }
}